@import-normalize; /* bring in normalize.css styles */

body {
background-image: linear-gradient(45deg,
      hsl(188deg 100% 71%) 0%,
      hsl(182deg 90% 66%) 24%,
      hsl(176deg 88% 65%) 36%,
      hsl(168deg 91% 67%) 44%,
      hsl(156deg 93% 72%) 52%,
      hsl(139deg 94% 77%) 58%,
      hsl(112deg 93% 79%) 65%,
      hsl(88deg 92% 75%) 72%,
      hsl(70deg 89% 70%) 80%,
      hsl(55deg 99% 69%) 100%);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
ul {
  margin: 0;
  padding: 0;
  
}
